.chart {
  /*background-color: grey;*/
  display: flex;
  height: 100%;
}

.chart.vertical {
  flex-direction: column;
}

.chart.horizontal {
  flex-direction: row;
}

.chart > .header {
  /*background-color: lightblue;*/
}

.chart > .content {
  /*background-color: lightgrey;*/
  width: 100%;
  height: 100%;
}
